In [1]:
import pandas as pd

## pd.Series(data,index,dtype)

In [2]:
t1 = [10,20,30,40]
t2 = [1,2,3,4]
pd.Series(t1,t2)

1    10
2    20
3    30
4    40
dtype: int64

In [3]:
pd.Series(t2,t1)

10    1
20    2
30    3
40    4
dtype: int64

In [4]:
pd.Series(index=t2,data=t1)

1    10
2    20
3    30
4    40
dtype: int64

In [7]:
# SBI--> Branch is 'Pune-Camp'
# create a Branch record for 100 Employees
pd.Series('Pune-Camp',index=range(100))
# generating a scalar series

0     Pune-Camp
1     Pune-Camp
2     Pune-Camp
3     Pune-Camp
4     Pune-Camp
        ...
95    Pune-Camp
96    Pune-Camp
97    Pune-Camp
98    Pune-Camp
99    Pune-Camp
Length: 100, dtype: object

In [8]:
# Create a Series with Name Sarang 10 times
pd.Series('Sarang',range(10))

0    Sarang
1    Sarang
2    Sarang
3    Sarang
4    Sarang
5    Sarang
6    Sarang
7    Sarang
8    Sarang
9    Sarang
dtype: object

In [10]:
# Methods of Series
print(dir(pd.Series))

['T', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__long__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_by_level', '_agg_examples_doc', '_agg_see_also_doc', '_align_frame', '_align_series', '_arith_method', '_as_manager', '_binop', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_expanddim', '_convert', '_convert_dtypes', '_data', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_find_valid_index', '_from_mgr', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_hidden_attrs', '_index', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_min_count_stat_function', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'cat', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dt', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'iteritems', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'sparse', 'squeeze', 'std', 'str', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'tolist', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

# Some important Functions from Series

In [11]:
s = pd.Series(['A','B','C','C','A','C','B','B'])
s

0    A
1    B
2    C
3    C
4    A
5    C
6    B
7    B
dtype: object

## map(): does the mapping of new value to old

In [12]:
# PS: convert A= Apple, B= Ball, C= Cat
s.map({'A':'Apple'})
# NAN: Not a Number
# for 2 categories we need to supply 3 key value pairs in dict
# if we supply only one like A: Apple then it will work for it
# and rest of will be NAN

0    Apple
1      NaN
2      NaN
3      NaN
4    Apple
5      NaN
6      NaN
7      NaN
dtype: object

In [13]:
s.map({'A':'Apple','B':'Ball','C':'Cat'})
# changes are temp.

0    Apple
1     Ball
2      Cat
3      Cat
4    Apple
5      Cat
6     Ball
7     Ball
dtype: object

In [14]:
s

0    A
1    B
2    C
3    C
4    A
5    C
6    B
7    B
dtype: object

In [15]:
type(s[0])
# collectively it is an object
# but individuall it is string
# hence we can apply all string methods

str

In [16]:
'A'.replace('A','Apple')

'Apple'

In [18]:
s.replace('A','Apple')

0    Apple
1        B
2        C
3        C
4    Apple
5        C
6        B
7        B
dtype: object

In [19]:
#lets supply a dict
s.replace({'A':'Apple','B':'Ball','C':'Cat'})
# replace above is of Series not of Str

0    Apple
1     Ball
2      Cat
3      Cat
4    Apple
5      Cat
6     Ball
7     Ball
dtype: object

In [20]:
# now use replace of str
s.str.replace('A','Apple')

0    Apple
1        B
2        C
3        C
4    Apple
5        C
6        B
7        B
dtype: object

In [21]:
# using str replace we cant change multiple values
s.str.replace({'A':'Apple','B':'Ball','C':'Cat'})

TypeError: replace() missing 1 required positional argument: 'repl'

In [22]:
# it is in object dtype
s

0    A
1    B
2    C
3    C
4    A
5    C
6    B
7    B
dtype: object

In [23]:
# if we use a replace of Series and convert data into numbers
# it changes dtype also
s.replace({'A':0,'B':1,'C':2})

0    0
1    1
2    2
3    2
4    0
5    2
6    1
7    1
dtype: int64

#### for converting a categorical data into other option like number or str
#### we can use map() and replace() of Series

## -------------------------------------------------------------

In [24]:
d = pd.Series(['Male','Female','Female','Male'])
d

0      Male
1    Female
2    Female
3      Male
dtype: object

### PS: Convert Male to 0 and Female to 1

In [25]:
#using a map
d.map({'Male':0,'Female':1})

0    0
1    1
2    1
3    0
dtype: int64

In [26]:
# using a replace of Series
d.replace({'Male':0,'Female':1})

0    0
1    1
2    1
3    0
dtype: int64

In [29]:
# using a replace of str
# only str inputs are allowed in str methods
d.str.replace('Male','0').str.replace('Female','1')

0    0
1    1
2    1
3    0
dtype: object

In [33]:
# using map() from python
f = lambda x:0 if x == 'Male' else 1
pd.Series(map(f,d))

0    0
1    1
2    1
3    0
dtype: int64

In [36]:
# using pythonic way
for i in d:
    #print(i)
    if i == 'Male':
        print(0)
    else:
        print(1)

0
1
1
0

In [38]:
for i in enumerate(d):
    #print(i)
    if i[1] == 'Male':
        i[0] = 0
    else:
        i[0] = 1

TypeError: 'tuple' object does not support item assignment

In [39]:
for i in enumerate(d):
    #print(i)
    if i[1] == 'Male':
        print(i[0])

0
3

In [40]:
d[0]

0      Male
1    Female
2    Female
3      Male
dtype: object

In [42]:
for i in enumerate(d):
    #print(i)
    if i[1] == 'Male':
        d[i[0]] = 0
    else:
        d[i[0]] = 1
# changes will b inplaced in the same series

In [43]:
d

0    0
1    1
2    1
3    0
dtype: object

In [44]:
d = pd.Series(['Male','Female','Female','Male'])
d

0      Male
1    Female
2    Female
3      Male
dtype: object

## apply()

In [49]:
#d.apply(func)
# the func we supply in apply() wil perform a given operation element by element
def change(gender):
    if gender == 'Male':
        return 0
    else:
        return 1

In [50]:
d.apply(change)

0    0
1    1
2    1
3    0
dtype: int64

In [51]:
f

In [52]:
d.apply(f)

0    0
1    1
2    1
3    0
dtype: int64

### Lets see some mathematical and statistical operations

In [54]:
k = pd.Series([-1,23,45,22,10,18,99,230,5,-2])
k

0     -1
1     23
2     45
3     22
4     10
5     18
6     99
7    230
8      5
9     -2
dtype: int64

In [55]:
# return max element
k.max()

230

In [56]:
# return max element
k.min()

-2

In [57]:
# return median
k.median()

20.0

In [58]:
# # return mode
k.mode()

0     -2
1     -1
2      5
3     10
4     18
5     22
6     23
7     45
8     99
9    230
dtype: int64

In [59]:
#mode() give most frequent data: no. of occurance matters
r = pd.Series([1,2,1,1,3,1])
r

0    1
1    2
2    1
3    1
4    3
5    1
dtype: int64

In [60]:
r.mode()
 #majority is with 1 hence 1 is present multiple times it returns 1

0    1
dtype: int64

In [61]:
# cumsum: cummulative summation
r.cumsum()

0    1
1    3
2    4
3    5
4    8
5    9
dtype: int64

In [63]:
# cumprod: cummulative product
r.cumprod()

0    1
1    2
2    2
3    2
4    6
5    6
dtype: int64

In [64]:
r

0    1
1    2
2    1
3    1
4    3
5    1
dtype: int64

In [65]:
# duplicated()
r.duplicated()

0    False
1    False
2     True
3     True
4    False
5     True
dtype: bool

In [67]:
r.duplicated(keep='last')

0     True
1    False
2     True
3     True
4    False
5    False
dtype: bool

In [68]:
r

0    1
1    2
2    1
3    1
4    3
5    1
dtype: int64

In [69]:
# if we want to fetch the records then we can use boolean output of duplictaed()
# as an index
r[r.duplicated(keep='last')]

0    1
2    1
3    1
dtype: int64

In [70]:
r.duplicated(keep='last')

0     True
1    False
2     True
3     True
4    False
5    False
dtype: bool

In [71]:
k

0     -1
1     23
2     45
3     22
4     10
5     18
6     99
7    230
8      5
9     -2
dtype: int64

### from k if we want to fetch first 5 values

In [73]:
k.head()
# default it returns 5 values

0    -1
1    23
2    45
3    22
4    10
dtype: int64

In [74]:
# first 3 values
k.head(3)

0    -1
1    23
2    45
dtype: int64

### return last 5 values

In [76]:
k.tail()

5     18
6     99
7    230
8      5
9     -2
dtype: int64

In [77]:
# fetch last value
k.tail(1)

9   -2
dtype: int64

In [79]:
k[-1:]

9   -2
dtype: int64

### nlargest

In [81]:
k.nlargest() # gives top 5 largest numbers(high to low: Descending order)

7    230
6     99
2     45
1     23
3     22
dtype: int64

In [82]:
# if i want to 3 high values
k.nlargest(3)

7    230
6     99
2     45
dtype: int64

In [ ]:
#Assignment: nsmallest()