In [1]:
import pandas as pd

In [2]:
data = ['Pritam   ','Kir    an','    pooja','**sarang##','Suji123$t']
data

['Pritam   ', 'Kir    an', '    pooja', '**sarang##', 'Suji123$t']

## Preprocessing over text data

In [4]:
s = pd.Series(data)
s

0     Pritam
1     Kir    an
2         pooja
3    **sarang##
4     Suji123$t
dtype: object

In [7]:
# lets apply strip method from str to remove spaces at prefix and sufix
s = s.str.strip()
s

0        Pritam
1     Kir    an
2         pooja
3    **sarang##
4     Suji123$t
dtype: object

In [10]:
# use strip to remove * and # from both the ends

s = s.str.strip('#*')
s

0       Pritam
1    Kir    an
2        pooja
3       sarang
4    Suji123$t
dtype: object

In [14]:
# in between char/blocks can be removed using a replace
s = s.str.replace(' ','')
s

0       Pritam
1        Kiran
2        pooja
3       sarang
4    Suji123$t
dtype: object

In [16]:
s = s.str.replace('123','')
s

0    Pritam
1     Kiran
2     pooja
3    sarang
4    Suji$t
dtype: object

In [17]:
s = s.str.replace('$','')
s

C:\Users\hakim\AppData\Local\Temp/ipykernel_4016/3969153480.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  s = s.str.replace('$','')

0    Pritam
1     Kiran
2     pooja
3    sarang
4     Sujit
dtype: object

In [18]:
data

['Pritam   ', 'Kir    an', '    pooja', '**sarang##', 'Suji123$t']

In [20]:
# i want to convert names into title case
s = s.str.title()
s

0    Pritam
1     Kiran
2     Pooja
3    Sarang
4     Sujit
dtype: object

### Sort the names present in series

In [22]:
s.sort_values() #output is temp. 
# sorted in ascending order

1     Kiran
2     Pooja
0    Pritam
3    Sarang
4     Sujit
dtype: object

In [23]:
# sort in decending order
s.sort_values(ascending=False)

4     Sujit
3    Sarang
0    Pritam
2     Pooja
1     Kiran
dtype: object

In [24]:
z = s.sort_values(ascending=False)
z

4     Sujit
3    Sarang
0    Pritam
2     Pooja
1     Kiran
dtype: object

In [26]:
# in above case indices are not is sequence order
# to align them properly
z.reset_index()
# gives a tmp. dataframe

   index       0
0      4   Sujit
1      3  Sarang
2      0  Pritam
3      2   Pooja
4      1   Kiran

In [27]:
# if we dont want extra index column which appears in above output
z.reset_index(drop=True)
# returns temp Series

0     Sujit
1    Sarang
2    Pritam
3     Pooja
4     Kiran
dtype: object

In [28]:
z

4     Sujit
3    Sarang
0    Pritam
2     Pooja
1     Kiran
dtype: object

In [29]:
# if we want to sort based on index then use sort_index()
z.sort_index() #temp output

0    Pritam
1     Kiran
2     Pooja
3    Sarang
4     Sujit
dtype: object

In [32]:
# if u want permenant solution # changes should persist in z
#then use inplace attribute
z.sort_index(inplace=True)

In [33]:
z

0    Pritam
1     Kiran
2     Pooja
3    Sarang
4     Sujit
dtype: object

In [35]:
e = pd.Series([10,20,30,40],[0,10,4,5])
e

0     10
10    20
4     30
5     40
dtype: int64

In [36]:
# sort index only
e.reset_index(drop=True)

0    10
1    20
2    30
3    40
dtype: int64

In [37]:
# sort values with respect to index
e.sort_index()

0     10
4     30
5     40
10    20
dtype: int64

# ------------------------------------------------------------

In [38]:
s

0    Pritam
1     Kiran
2     Pooja
3    Sarang
4     Sujit
dtype: object

In [39]:
# calculate a len of each name
for i in s:
    print(len(i))

6
5
5
6
5

In [40]:
[len(i) for i in s]

[6, 5, 5, 6, 5]

## apply(func)

In [41]:
l = lambda nm:len(nm)
s.apply(l)

0    6
1    5
2    5
3    6
4    5
dtype: int64

In [42]:
s

0    Pritam
1     Kiran
2     Pooja
3    Sarang
4     Sujit
dtype: object

In [43]:
# convert a names to uppercase
s.str.upper()

0    PRITAM
1     KIRAN
2     POOJA
3    SARANG
4     SUJIT
dtype: object

In [44]:
s.apply(lambda nm:nm.upper())

0    PRITAM
1     KIRAN
2     POOJA
3    SARANG
4     SUJIT
dtype: object

In [46]:
# map(func,sequence) Python
list(map(lambda nm:nm.upper(),s))

['PRITAM', 'KIRAN', 'POOJA', 'SARANG', 'SUJIT']

## map()

In [47]:
s.map(lambda nm: nm.upper())

0    PRITAM
1     KIRAN
2     POOJA
3    SARANG
4     SUJIT
dtype: object

In [48]:
# Interview Question
k = pd.Series(['Arti Patil','Deepali Bhosale','Gaurav Desai'])
k

0         Arti Patil
1    Deepali Bhosale
2       Gaurav Desai
dtype: object

#### Fetch Series of Surname

In [55]:
k.str.split()[-1]
# -ve indexing is not allowed over series

KeyError: -1

In [53]:
k.apply(lambda nm:nm.split()[-1])

0      Patil
1    Bhosale
2      Desai
dtype: object

In [56]:
k.map(lambda nm:nm.split()[-1])

0      Patil
1    Bhosale
2      Desai
dtype: object

In [57]:
for i in k:
    print(i.split()[-1])

Patil
Bhosale
Desai

In [58]:
[i.split()[-1] for i in k]

['Patil', 'Bhosale', 'Desai']

In [59]:
# Interview Question
m = pd.Series(['Male','Female','Female','Male'])
m

0      Male
1    Female
2    Female
3      Male
dtype: object

In [61]:
import numpy as np
np.where(m=='Male',0,1)
# if its Male convert to 0 else 1

array([0, 1, 1, 0])

In [62]:
# using list comprehension
[0 if i =='Male' else 1 for i in m]

[0, 1, 1, 0]

### Convert Series to list

In [63]:
s

0    Pritam
1     Kiran
2     Pooja
3    Sarang
4     Sujit
dtype: object

In [64]:
list(s)

['Pritam', 'Kiran', 'Pooja', 'Sarang', 'Sujit']

In [65]:
s.to_list()

['Pritam', 'Kiran', 'Pooja', 'Sarang', 'Sujit']

In [66]:
s.to_dict()

{0: 'Pritam', 1: 'Kiran', 2: 'Pooja', 3: 'Sarang', 4: 'Sujit'}

In [67]:
s.to_numpy()

array(['Pritam', 'Kiran', 'Pooja', 'Sarang', 'Sujit'], dtype=object)

In [68]:
d = pd.Series(['10000.00 Cr','4500.00 Dr','6000.00 Cr'])
d

0    10000.00 Cr
1     4500.00 Dr
2     6000.00 Cr
dtype: object

In [69]:
d.str.endswith('Cr')

0     True
1    False
2     True
dtype: bool

In [73]:
# will fetch onlu Cr entries
d = d[d.str.endswith('Cr')]
d

0    10000.00 Cr
2     6000.00 Cr
dtype: object

In [74]:
d = d.str.strip(' Cr')
d

0    10000.00
2     6000.00
dtype: object

In [76]:
#convert d from object dtype to float dtype
d = d.astype(float)
d

0    10000.0
2     6000.0
dtype: float64

In [77]:
d.sum()

16000.0