## Pandas

- it is a data analysis library
- also after advancement in it we can use it for plotting
- It has 3 data structure
    * Series [ 1D ]
    * DataFrame [ 2D ]
    * Panel [Combination of multiple dataFrames]

In [1]:
#import pandas
import pandas

In [3]:
#check version
pandas.__version__

'1.3.4'

In [4]:
import pandas as pd

In [5]:
pd

# Series

In [7]:
print(pd.Series())

Series([], dtype: float64)

C:\Users\hakim\AppData\Local\Temp/ipykernel_1500/1822124305.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  print(pd.Series())

In [14]:
# What is dtype of empty numpy array?
import numpy as np
a = np.array([])
a.dtype

dtype('float64')

In [ ]:
# check signature or structure of Series
"""pd.Series(
    data=None,
    index=None,
    dtype: 'Dtype | None' = None,
    name=None,
    copy: 'bool' = False,
    fastpath: 'bool' = False,
)"""

## pd.Series(data,index,dtype)

In [15]:
pd.Series()

C:\Users\hakim\AppData\Local\Temp/ipykernel_1500/2031691219.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [16]:
data = [10,20,30,40]
pd.Series(data)

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
# Series gives 3 things
# index on left side
# values/data on right side
# at the end dtype

In [17]:
#pd.Series(data,index,dtype)
pd.Series([10,20,33.33,'python'])

0        10
1        20
2     33.33
3    python
dtype: object

In [ ]:
# IMP
# u will get dtype object in 2 cases
#1- when data is hetrogeneous
#2- when u have data of str type

In [18]:
#2-
pd.Series(['Ganesh','Reva','Milind'])

0    Ganesh
1      Reva
2    Milind
dtype: object

### Background data structure is array (numpy array)

In [19]:
n = pd.Series(['Ganesh','Reva','Milind'])
n

0    Ganesh
1      Reva
2    Milind
dtype: object

### indexing is supported

In [20]:
n[0]

'Ganesh'

In [21]:
n[2]

'Milind'

In [23]:
# does it support -ve indexing???---> NO
n[-1]

KeyError: -1

### slicing is also supported

In [24]:
n[:]

0    Ganesh
1      Reva
2    Milind
dtype: object

In [25]:
n[1:]

1      Reva
2    Milind
dtype: object

In [26]:
n[::-1]

2    Milind
1      Reva
0    Ganesh
dtype: object

In [28]:
# can we use -ve index in slicing
n[-3:-1]

# in slicing -ve indexing works
# BUT in case of indexing -ve inex wont work

0    Ganesh
1      Reva
dtype: object

## Series is Mutable in nature

In [29]:
n

0    Ganesh
1      Reva
2    Milind
dtype: object

In [30]:
n[0]

'Ganesh'

In [32]:
# replace Ganesh by Akshay
id(n)

3114252891472

In [33]:
n[0] = 'Akshay'

In [34]:
n

0    Akshay
1      Reva
2    Milind
dtype: object

In [35]:
id(n)

3114252891472

## Check properties of series n

In [36]:
n

0    Akshay
1      Reva
2    Milind
dtype: object

In [37]:
n.ndim

1

In [38]:
n.dtype

dtype('O')

In [39]:
n.size

3

In [40]:
n.shape

(3,)

## pd.Series(data ,index,dtype)

In [43]:
pd.Series(data)

0    10
1    20
2    30
3    40
dtype: int64

In [44]:
# change dta type
pd.Series(data,dtype=float)

0    10.0
1    20.0
2    30.0
3    40.0
dtype: float64

In [45]:
pd.Series(data,dtype=str)

0    10
1    20
2    30
3    40
dtype: object

In [46]:
pd.Series(data,dtype=object)

0    10
1    20
2    30
3    40
dtype: object

## Work on index

In [47]:
pd.Series(data)

0    10
1    20
2    30
3    40
dtype: int64

In [50]:
# default index starts with 0 and ends at (n-1)
new_index = [101,102,103,104]
pd.Series(data,index=new_index)

101    10
102    20
103    30
104    40
dtype: int64

In [51]:
# we can also use range/np.arange/np.random
pd.Series(data,index=range(10,14))

10    10
11    20
12    30
13    40
dtype: int64

In [53]:
#posintionally we data,index,dtype
pd.Series(data,range(21,25))

21    10
22    20
23    30
24    40
dtype: int64

In [54]:
pd.Series(data,np.random.random(4))

0.721372    10
0.262515    20
0.233741    30
0.716280    40
dtype: int64

In [59]:
# can we use alphbates or words an an index --> YES
x = pd.Series(data,['A','B','C','D'])
x

A    10
B    20
C    30
D    40
dtype: int64

In [56]:
n

0    Akshay
1      Reva
2    Milind
dtype: object

In [58]:
n.append(pd.Series(['Pooja','Sadia','Mahesh']),ignore_index=True)

0    Akshay
1      Reva
2    Milind
3     Pooja
4     Sadia
5    Mahesh
dtype: object

In [60]:
x.append(pd.Series(['Pooja','Sadia','Mahesh']))

A        10
B        20
C        30
D        40
0     Pooja
1     Sadia
2    Mahesh
dtype: object

In [61]:
x.append(pd.Series(['Pooja','Sadia','Mahesh']),ignore_index=True)

0        10
1        20
2        30
3        40
4     Pooja
5     Sadia
6    Mahesh
dtype: object

### If i want to access index from a Series

In [63]:
x

A    10
B    20
C    30
D    40
dtype: int64

In [64]:
x.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [65]:
x.index = range(4)

In [66]:
x

0    10
1    20
2    30
3    40
dtype: int64

## fetch values from series

In [67]:
x

0    10
1    20
2    30
3    40
dtype: int64

In [68]:
x.values

array([10, 20, 30, 40], dtype=int64)

## if we want to replace all values

In [69]:
x

0    10
1    20
2    30
3    40
dtype: int64

In [72]:
x.values

array([10, 20, 30, 40], dtype=int64)

In [73]:
x.values = range(4)

AttributeError: can't set attribute

## rather use slicing as direct assignment to values is not working

In [75]:
x[:] = [100,200,300,400]

In [76]:
x

0    100
1    200
2    300
3    400
dtype: int64

In [77]:
x[:]

0    100
1    200
2    300
3    400
dtype: int64

In [78]:
x[:] =range(4)

In [79]:
x

0    0
1    1
2    2
3    3
dtype: int64

## u may have same index /duplicate index

In [80]:
f = pd.Series([10,30,60],[0,1,0])
f

0    10
1    30
0    60
dtype: int64

In [81]:
f[0]

0    10
0    60
dtype: int64

In [82]:
# if we dont have index in a sequence
f

0    10
1    30
0    60
dtype: int64

In [83]:
# to maintain sequence of an index use reset_index()
f.reset_index()
# the output u r getting below is dataframe

   index   0
0      0  10
1      1  30
2      0  60

In [85]:
type(f.reset_index())

pandas.core.frame.DataFrame

In [84]:
# rmove extra index column from above output
f.reset_index(drop=True) #returns Series

0    10
1    30
2    60
dtype: int64

In [86]:
# what is type of numpy array
type(np.array([]))

numpy.ndarray

In [87]:
x

0    0
1    1
2    2
3    3
dtype: int64

In [88]:
type(x)

pandas.core.series.Series